BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
# Amount before wrapping onto a new line
ColumnLimit: 165
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
IndentAccessModifiers: false
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: false
SpacesBeforeTrailingComments: 1
AlignTrailingComments: true
SortIncludes: false
PointerAlignment: Left
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
ReflowComments: false
AllowShortFunctionsOnASingleLine: Empty
BinPackParameters: false
BinPackArguments: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
AccessModifierOffset: -4
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakStringLiterals: false
ContinuationIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlwaysBreakTemplateDeclarations: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
